<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Activate User</h1>
    <p>User has requested to activate the account.</p>
    <p><a href="https://online-acc.herokuapp.com/login">Click here</a> to activate the account</p>
  </body>
</html>
