<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Reset your Onacc acount password!</h4>
    <div>Someone has requested a password reset for your Onacc account. Follow the link below to set a new password:</div>
    <div>Temporary password: <%= @password %> </div>
    <div><a href="https://online-acc.herokuapp.com/forgot-password">https://online-acc.herokuapp.com/forgot-password</a></div>

    <div style="margin-top: 50px;">
      <div>Thanks,</div>
      <div>The Onacc Admin</div>
      <div><a href="https://online-acc.herokuapp.com">https://online-acc.herokuapp.com</a></div>
    </div>
  </body>
</html>
