<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <table align="left" cellspacing="0" style="width:100%;">
      <tbody>
        <tr>
          <td style="font-size:13px;">
            <h4>Reset your Onacc acount password!</h4>
            <div>Someone has requested a password reset for your Onacc account. Follow the link below to set a new password:</div>
            <div>Temporary password: <%= @password %> </div>
          </td>
        </tr>
        <tr><td height="50"></td></tr>
        <tr align="center">
          <table width="250" align ="center">
            <tbody>
              <td align="center" valign="middle" style="font-size:16px;padding:15px;background-color:#25A0D3">
                <a href="https://online-acc.herokuapp.com/forgot-password" style="color:#fff;text-decoration:none;" target="_blank">Reset Password</a>
              </td>
            </tbody>
          </table>
        </tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr>
          <td>
            <div style="margin-top: 50px;">
              <div>Thanks,</div>
              <div>The Onacc Admin</div>
              <div><a href="https://online-acc.herokuapp.com">https://online-acc.herokuapp.com</a></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>


  </body>
</html>
