<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Almost there...</h1>
    <p>User Temporary password to login to your account to change your password.</p>
    <p>Password: <%= @temporary_password %></p>
    <p><a href="#">click here to setup your account</a></p>
  </body>
</html>
