<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Plan Activated</h1>
    <p>Your plan has been activated <%= @temporary_password %></p>
  </body>
</html>
